---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<p class="text-justify p-8">
		¡Hola! Soy una persona apasionada por la tecnología, el aprendizaje
		continuo y el crecimiento personal. Actualmente, trabajo como auxiliar
		administrativo y estoy estudiando el grado de Desarrollo de Aplicaciones
		Multiplataforma (DAM), una meta que me motiva a diario porque quiero
		convertirme en un profesional capaz de crear soluciones digitales que
		impacten positivamente.
	</p>

	<p class="text-justify p-8">
		Soy de Lima, la vibrante capital del Perú, un país conocido por su
		cultura rica y paisajes impresionantes. Este entorno diverso me ha
		inspirado a ser curioso, resiliente y siempre buscar nuevas
		oportunidades para aprender y crecer.
	</p>

	<p class="text-justify p-8">
		En mi tiempo libre, me encanta programar, explorar nuevas tecnologías y
		mejorar mis habilidades. También disfruto mucho jugar al fútbol, un
		deporte que me ayuda a mantenerme activo y a trabajar en equipo. Leer
		libros de ciencia ficción es otra de mis pasiones, ya que me permite
		viajar a mundos imaginarios y soñar con el futuro. Además, me interesa
		crear contenido sobre resiliencia, compartiendo herramientas y consejos
		para superar desafíos personales y profesionales.
	</p>

	<p class="text-justify p-8">
		Mis objetivos a futuro incluyen completar mi grado en DAM, trabajar en
		una empresa multinacional para adquirir experiencia global y,
		eventualmente, emprender creando una microempresa. Mi sueño es ayudar a
		pequeños negocios a tener presencia digital mediante páginas web y
		aplicaciones personalizadas.
	</p>

	<p class="text-justify p-8">
		Soy alguien que combina dedicación, creatividad y curiosidad para lograr
		sus metas, y estoy emocionado por todo lo que el futuro me depara en el
		mundo de la tecnología y más allá.
	</p>
</Layout>