---
const today = new Date();
---

<!-- <footer class="bg-gray-800 text-white text-center p-4 mt-8">
	<p>&copy; 2025 Mi Blog</p>
</footer> -->
<footer
	class="bg-gradient-to-r from-yellow-500 via-orange-500 to-yellow-600 text-white p-1 shadow-md text-center"
>
	&copy; {today.getFullYear()} Luis Hu. Go. All rights reserved.
</footer>
